#user{
    border-color: dimgray;   
}

#btn{
    margin-left:18px ;
}

.row{
    margin-top: 60px;
}
 
.photo{
    display: inline-block;
    text-align: center;
}

.container{
    margin-top: 20px;
}